.semester-select2 {
    position: absolute;
    top: 50px; 
    left: 600px; 
    z-index: 1; 
    padding: 8px 15px; 
    border-radius: 20px; 
}

/* Tùy chỉnh kiểu cho các cột cụ thể nếu cần */
/* Ví dụ: Đặt kiểu cho cột "Ghi chú" */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
}

.result_schedule-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
    height: 400px; 
    overflow-y: scroll;
    margin-left: 240px; 
    display:none;
    margin-top: 0px;
}

h2 {
    color: lightseagreen ;
}

.result_schedule {
    margin-top: 20px;
   
}

.result_schedule-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.result_schedule-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ccc;
   
}

.result_schedule-row:last-child {
    border-bottom: none;
}

.result_schedule-row span {
    padding: 5px;
    overflow-wrap: break-word;
}
/*course-handbook*/
.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
}

.course_handbook-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
    height: 400px; 
    overflow-y: scroll;
    margin-left: 240px; 
    display:block;
    margin-top: 0px;
}

h2 {
    color: lightseagreen;
}

.course_handbook {
    margin-top: 20px;
   
}

.course_handbook-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.course_handbook-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.course_handbook-row:last-child {
    border-bottom: none;
}

.course_handbook-row span {
    padding: 5px;
    overflow-wrap: break-word;
}
/* CSS cho phần feedback-container */
.feedback-container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin-left:240px;
    height:400px;
}

.feedback-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left:160px;
}

.feedback-container h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.feedback-container form {
    display: flex;
    flex-direction: column;
}

.feedback-container .form-group {
    margin-bottom: 10px;
}

.feedback-container label {
    font-weight: bold;
}

.feedback-container select, .feedback-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.feedback-container button {
    background-color: royalblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-container button:hover {
    background-color: lightskyblue;
}
/*css cho quên mật khẩu*/
.forgot-password-container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.forgot-password-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.forgot-password-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
}

.forgot-password-container .input-box {
    margin-bottom: 15px;
}

.forgot-password-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-container .submit-button button {
    background-color: royalblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-container .submit-button button:hover {
    background-color: lightskyblue;
}

