* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5%;
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 170px;
    height: auto;
}

.support {
    font-size: 32px;
    color: #008000;
    margin-left: 20px;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    width: 90%;
    max-width: 600px;
}

.login-box h2 {
    text-align: center;
    color: #008000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin: 10px 0;
    width: 100%;
}

label {
    font-weight: bold;
    color: #008000;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #008000;
}

.submit-button {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;

}


.menu {
    background-color: white;
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 91px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-items button {
    margin-bottom: 10px;
    width: 100%;
    flex-grow: 1;
}

/* Tùy chỉnh biểu tượng */
.account-icon {
    font-size: 24px;
    /* Đặt kích thước biểu tượng theo ý muốn */
    margin-right: 20px;
    /* Khoảng cách giữa biểu tượng và văn bản */
}

/* Tùy chỉnh nút tài khoản */
.account-button {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    /* Màu nền ban đầu của nút */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* Hiệu ứng màu nền thay đổi */
    cursor: pointer;
}

/* Tùy chỉnh nút tài khoản khi hover */
.account-button:hover {
    background-color: green;
    /* Màu nền khi hover */
    color: white;
    /* Màu chữ khi hover */
}




/* Các điều chỉnh cho trang thời khóa biểu */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.schedule-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
    height: 400px;
    overflow-y: scroll;
    margin-left: 240px;
    display: none;
    margin-top: 0px;
}

h2 {
    color: #008000;
}

.schedule {
    margin-top: 20px;

}

.schedule-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.schedule-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow-wrap: break-word;

}

.schedule-row:last-child {
    border-bottom: none;
}

.schedule-row span {
    padding: 5px;
    overflow-wrap: break-word;
}

.semester-select1 {
    margin-left: 180px;
    /* Dịch chuyển thanh lựa chọn sang phải */
    margin-top: 30px;
    /* Dịch chuyển thanh lựa chọn xuống dưới */
}

/*exam_schedule*/

.semester-select {
    margin-left: 180px;
    /* Dịch chuyển thanh lựa chọn sang phải */
    margin-top: 50px;
    /* Dịch chuyển thanh lựa chọn xuống dưới */
}

.result-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
    height: 400px; 
    overflow-y: scroll;
    margin-left: 240px; 
    display:none ;
    margin-top: 0px;
}

.result {
    margin-top: 20px;
}


.result-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.result-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow-wrap: break-word;
}

.result-row:last-child {
    border-bottom: none;
}

.result-row span {
    padding: 5px;
    overflow-wrap: break-word;
}
